---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">ChatGPT</span>
    <span class="gpt-subtitle">Demo</span>
  </div>
  <p mt-1 op-60>由于访问量比预期大，服务可能会在近期关闭，您可以去搜搜有没有类似的网站。如果您仍然需要稳定不翻🧱的gpt3或者gpt4可以联系vx1521881635</p>
</header>
